@model string

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Game</h2>

<p>Share the URL to your friends to join the Game:</p>
<dd>
    @Html.ActionLink("Resume Game", "Resume", "Game", new { hashedGameId = Model }, null)
</dd>
