@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application is created purely for educational purposes.</p>
<p> Hearts Card Game is a secure game application created for ISA 681 course taught at George Mason University</p>
