@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<br />
<h4>
    Vaishnavi Konar
</h4>
<address>
    MS INFS Student<br />
    George Mason University<br />
    Fairfax, VA <br />
    <strong>Email:</strong> <a href="mailto:vbkonar@masonlive.gmu.edu">vbkonar@masonlive.gmu.edu</a>
</address>
<hr />

<h4>
    Aranta Rokade
</h4>
<address>
    MS CS Student<br />
    George Mason University<br />
    Fairfax, VA <br />
    <strong>Email:</strong> <a href="mailto:arokade@masonlive.gmu.edu">arokade@masonlive.gmu.edu</a>
</address>
<hr />
<p>
    <strong>GitHub Link:</strong> <a href="https://github.com/aranta-rokade/HeartsCardGame">https://github.com/aranta-rokade/HeartsCardGame</a>
</p>
