@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hearts Card Game</h1>
    <p class="lead">Hearts is easy to play yet it has plenty of room for higher strategy. The game is also known as Black Lady Black Maria, Black Widow, and Slippery Bitch.</p>
    <p>This site lets you learn the rules and play Hearts with other players waiting to play.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Know the Rules</h2>
        <p>This game is implemented with Passing the Trash...Click the link below to know more.
            
        </p>
        <p>@Html.ActionLink("Learn >>", "Rules", "Home", null, new { @class= "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Start Playing</h2>
        <p>Click here to create your new join or join an existing game in need of more players.</p>
        <p>@Html.ActionLink("Play >>", "Index", "Game", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Our Heros</h2>
        <p>See the ranking of your competitors. Click the link below.</p>
        <p>@Html.ActionLink("Ranking >>", "LeaderBoard", "Home", null, new { @class = "btn btn-default" })</p>
    </div>
</div>