@{
    ViewBag.Title = "Rules";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<ul>  
    <li><a href="#players and cards">Players and Cards</a>
    </li><li><a href="#object">Object of the Game</a>
    </li><li><a href="#deal">Deal and Passing</a>
    </li><li><a href="#play">Play of the Hand</a>
    </li><li><a href="#scoring">Scoring</a>
</ul>

<h2 id="players and cards">Players and Cards</h2>
<p>
    Hearts is most commonly played by 4 people. There are no formal partnerships, though there are times when players will find it in their interest to help each other.
</p><p>
    A standard 52 card deck is used, with the cards in each suit ranking as usual from ace (high) down to two (low). There is no trump suit.
</p><p>
    Each heart is worth one penalty point and the queen of spades is worth 13 penalty points. The other cards have no value.

</p>
<h2 id="object">Object of Game</h2>
<p>
    The object is to avoid scoring points. The game is ended by someone reaching or going over 100 points, and the winner is the player with the lowest score at this point.

</p>
<h2 id="deal">Deal and Passing</h2>
<p>
    Deal and play are clockwise. All the cards are dealt out one at a time, so that everyone has 13.
</p><p>
    On the first hand, after the deal, each player passes any three cards face-down to the player to their left. When passing cards, you must first select the cards to be passed and place them face-down, ready to be picked up by the receiving player; only then may you pick up the cards passed to you, look at them and add them to your hand.
</p><p>
    On the second hand each player passes three cards to the player to their right, in the same way. On the third hand each player passes three cards to the player sitting opposite. On the fourth hand no cards are passed at all. The cycle then repeats until the end of the game.

</p>
<h2 id="play">The Play of the Hand</h2>
<p>
    The person who holds the 2 of clubs must lead it to the first trick. The other players, in clockwise order, must play a card of the suit which was led if possible.  If they do not have a card of that suit, they may play any card.  The person who played the highest card of the suit led wins the trick and leads to the next trick.
</p><p>
    It is illegal to lead a heart until after a heart has been played to a previous trick, unless your hand contains nothing but hearts. Discarding a heart, thus allowing hearts to be led in future, is called <strong>breaking hearts</strong>. In general, discarding a penalty card on a trick is called <strong>painting</strong> the trick.
</p><p>
    A player whose hand consists entirely of hearts may lead any heart, thereby breaking hearts, even if hearts have not previously been broken.
</p><p>
    Players are permitted to lead spades to any trick after the first. In fact it is a normal tactic to lead lower spades to try to drive out the queen. This is sometimes known as <strong>smoking out</strong> the queen.

</p>
<h2 id="scoring">Scoring</h2>
<p>
    Normally, each player scores penalty points for cards in the tricks which they won. Each heart scores one point, and the queen of spades scores 13 points. However, if you manage to win all the scoring cards (which is known as a <strong>slam</strong> or <strong>shooting the moon</strong>), your score is reduced by 26 points, or you may choose instead to have all other players' scores increased by 26 points.
</p><p>
    The game continues until one player has reached or exceeded 100 points at the conclusion of a hand.  The person with the lowest score is then the winner.


    <hr />
<p>Refernce: <a href="https://www.pagat.com/reverse/hearts.html">Link</a></p>